body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* background-image: linear-gradient(180deg, #eee); */

  /*background: -webkit-linear-gradient(
    to left,
    #667db6,
    #0082c8,
    #0082c8,
    #667db6
  ); 
  background: linear-gradient(
    to left,
    #667db6,
    #0082c8,
    #0082c8,
    #667db6
  ); 

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* background: #396afc;
  background: -webkit-linear-gradient(
    to left,
    #2948ff,
    #396afc
  ); 
  background: linear-gradient(
    to left,
    #2948ff,
    #396afc
  ); */
}
